@model MVCCodefirst.Models.Ogrenci
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3> Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        @*listeleme yapar*@
        <dt>
            @Html.DisplayNameFor(model => model.OgrenciID)
            @*dt dediğimde tanım*@
            @*displaynamefor dediğim propertydeki değeri okur. kullanıcının gördüğü*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
            @*displayfor label içine yazdırır.*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DogumTarihi)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MezunMu)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.MezunMu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ortalama)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ortalama)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to list", "Index")
        </div>
    }
</div>
