@model MVCCodefirst.Models.Ogrenci
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    //İstemciden istediğimiz bilgileri araya sızıntı olmasın başka kaynaklar erişmasin diye bir key tutuyor.
    //bukey istemcideki keyle eşleşirse gönderiyor bilgileri
    //bunu controllerde validateforgery token karşılayacak
    <div class="form-horizontal">
        <h4>Egitmen</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OgrenciID)

        @*hidden for htmlde görünmüyor ama html içersinde bulunan bilgi id üzerinden güncelleme yapabilmek için client a gönderiliyor *@
        <div class="form-group">

            <div class="col-md-10">
                @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.DogumTarihi, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                @Html.LabelFor(model => model.MezunMu, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.MezunMu, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.MezunMu, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                @Html.LabelFor(model => model.Ortalama, htmlAttributes: new { @class = "control-label-col-md-2" })
                @Html.EditorFor(model => model.Ortalama, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Ortalama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>


    </div>
    <div>
        @Html.ActionLink("back to list", "Index")

    </div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }

}
